/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('/fonts/patron.otf');

html,
body {
  font-family: Patron;
}

/* p {
  font-family: Patron;
} */

@font-face {
  font-family: Patron;
  src: url('/fonts/patron.otf') format('opentype');
}

.shadow {
  filter: drop-shadow(0px 0px 7px #fff);
}
